# Giovanni & Oscar | ML Final Project | Milestone 2

Setup and Baseline, Due 3/30

## Points (10 pts)
## Tasks:

1. Load the data in a colab notebook

2. Split the training data into 90% for training and 10% for validation (your experiments).
    > **Note:** You will want to run experiments in your colab notebook without always submitting your test predictions to kaggle.

3. Figure out how to submit a baseline system to kaggle that makes predictions on the test data. You should receive a score back from kaggle and see your position on the leaderboard.

4. Submit a copy of your colab in Classroom that includes your baseline score evaluated on

  - your validation data and
  - on the official leaderboard.

### 0. Setup Dependencies

In [1]:
"""Remove triple quotes if you want to run the following code:
# Ensure that we have the newest version of pip installed
%pip install -q --upgrade pip
"""

'Remove triple quotes if you want to run the following code:\n# Ensure that we have the newest version of pip installed\n%pip install -q --upgrade pip\n'

In [2]:
"""Remove triple quotes if you want t orun the following code:
# Install necessary libraries
%pip install -q numpy
%pip install -q pandas
%pip install -q matplotlib
%pip install -q seaborn
%pip install -q kaggle
# Helps avoid showing plots in a separate line
# %matplotlib inline

%pip install -q scikit-learn
"""

'Remove triple quotes if you want t orun the following code:\n# Install necessary libraries\n%pip install -q numpy\n%pip install -q pandas\n%pip install -q matplotlib\n%pip install -q seaborn\n%pip install -q kaggle\n# Helps avoid showing plots in a separate line\n# %matplotlib inline\n\n%pip install -q scikit-learn\n'

In [3]:
# Import the modules
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import datasets


# Set the styling of the plt plots to darkgrid
sns.set(style='darkgrid')

### 1. Load the Data in a Colab Notebook

In [4]:
# create data objecrt
train_df = pd.read_csv('Data/techexchange-2023-ml-project/train.csv')
display(train_df.head())

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
# Separate Data Frame for input and outputs

input_names = ['id', 'keyword', 'location', 'text']
input_df = train_df[input_names]
display(input_df.head())

output_names = ['target']
output_df = train_df[output_names]
display(output_df.head())

   id keyword location                                               text
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1

In [6]:
# Convert into numpy data
X_data = input_df.to_numpy()
Y_data = output_df.to_numpy().flatten()

print(X_data[:5])
print(Y_data[:5])

[[1 nan nan
  'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all']
 [4 nan nan 'Forest fire near La Ronge Sask. Canada']
 [5 nan nan
  "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected"]
 [6 nan nan
  '13,000 people receive #wildfires evacuation orders in California ']
 [7 nan nan
  'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school ']]
[1 1 1 1 1]

### 2. Split the training data into 90% training and 10% for validation (your experiments)

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, train_size=0.90)

In [8]:
# Going through a few examples in the training split

for index in range(2):
    print('Text')
    print(X_train[index])
    print()
    
    print('Is Natural Disaster?')
    print(Y_train[index], 'Yes' if Y_train[index] == 1 else 'No')
    print('======================')
    print()

Text
[2129 'catastrophe' nan
 '[reviews] #PixelsMovie not a catastrophe nor a funny movie... our review here : http://t.co/lVbUw01YOH']

Is Natural Disaster?
0 No
======================

Text
[8599 'seismic' 'Third rock from the Sun'
 '@hebrooon u better learn derivative of formula seismic rather than thinking about things like that or you are a things like that? Haha']

Is Natural Disaster?
0 No
======================

### 3. Submit a Baseline

In [9]:
# Returns a positive result, regardless of the input
def baseline_model(text_inputs):
    return 1

baseline_model_np = np.vectorize(baseline_model, signature='(n) -> ()')

In [10]:
baseline_predictions = baseline_model_np(X_train)

for i in range(5):
    print('Input:')
    print(X_train[i])
    print()

    print('Output')
    print(Y_train[i])
    print()

    print('Prediction')
    print(baseline_predictions[i])
    print('==================')
    print()

Input:
[2129 'catastrophe' nan
 '[reviews] #PixelsMovie not a catastrophe nor a funny movie... our review here : http://t.co/lVbUw01YOH']

Output
0

Prediction
1
==================

Input:
[8599 'seismic' 'Third rock from the Sun'
 '@hebrooon u better learn derivative of formula seismic rather than thinking about things like that or you are a things like that? Haha']

Output
0

Prediction
1
==================

Input:
[5743 'forest%20fires' 'Washington, D.C.'
 'As California fires rage Forest Service sounds the alarm about sharply rising wildfire costs http://t.co/dFYrPpzkPu http://t.co/iwsdbGd1zq']

Output
1

Prediction
1
==================

Input:
[8301 'rubble' 'Accra,Ghana'
 "#360WiseNews : China's Stock Market Crash: Are There Gems In The Rubble? http://t.co/eaTFro3d5x"]

Output
0

Prediction
1
==================

Input:
[3026 'death' 'Sylacauga, Alabama' '@Allahsfinest12 ...death to muslims']

Output
1

Prediction
1
==================

In [11]:
def save_to_submissions_csv(text_inputs, prediction_labels):
    NotImplemented
    pass