# Giovanni & Oscar | ML Final Project | Milestone 2

Setup and Baseline, Due 3/30

## Points (10 pts)
## Tasks:

1. Load the data in a colab notebook

1. Split the training data into 90% for training and 10% for validation (your experiments).

  - **Note:** You will want to run experiments in your colab notebook without always submitting your test predictions to kaggle.

1. Figure out how to submit a baseline system to kaggle that makes predictions on the test data. You should receive a score back from kaggle and see your position on the leaderboard.

1. Submit a copy of your colab in Classroom that includes your baseline score evaluated on

  - your validation data and
  - on the official leaderboard.

### 0. Setup Dependencies

In [16]:
# Ensure that we have the newest version of pip installed
%pip install -q --upgrade pip

Note: you may need to restart the kernel to use updated packages.

In [17]:
# Install necessary libraries
%pip install -q numpy
%pip install -q pandas
%pip install -q matplotlib
%pip install -q seaborn
%pip install -q kaggle
# Helps avoid showing plots in a separate line
# %matplotlib inline

%pip install -q scikit-learn

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [18]:
# Import the modules
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import datasets


# Set the styling of the plt plots to darkgrid
sns.set(style='darkgrid')

### 1. Load the Data in a Colab Notebook

In [19]:
# create data objecrt
train_df = pd.read_csv('Data/techexchange-2023-ml-project/train.csv')
display(train_df.head())

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [20]:
# Separate Data Frame for input and outputs

input_names = ['keyword', 'location', 'text']
input_df = train_df[input_names]
display(input_df.head())

output_names = ['target']
output_df = train_df[output_names]
display(output_df.head())

  keyword location                                               text
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1     NaN      NaN             Forest fire near La Ronge Sask. Canada
2     NaN      NaN  All residents asked to 'shelter in place' are ...
3     NaN      NaN  13,000 people receive #wildfires evacuation or...
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1

In [21]:
# Convert into numpy data
X_data = input_df.to_numpy()
Y_data = output_df.to_numpy()

print(X_data[:5])
print(Y_data[:5])

[[nan nan
  'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all']
 [nan nan 'Forest fire near La Ronge Sask. Canada']
 [nan nan
  "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected"]
 [nan nan
  '13,000 people receive #wildfires evacuation orders in California ']
 [nan nan
  'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school ']]
[[1]
 [1]
 [1]
 [1]
 [1]]

In [22]:
from sklearn.model_selection import train_test_split

# Split the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, train_size=0.90)

for index in range(2):
    print('Text')
    print(X_train[index])
    print()
    
    print('Is Natural Disaster?')
    print(Y_train[index], 'Yes' if Y_train[index] == 1 else 'No')
    print('======================')
    print()

Text
['army' 'Mexico! ^_^'
 '5 Seconds of Summer Is my pick for http://t.co/qcHV3JqOVK Fan Army #5SOSFAM http://t.co/gc0uDfnFgg  ÌÑ1']

Is Natural Disaster?
[0] No
======================

Text
['derailed' 'Washington, DC'
 '[UPDATE] No-Passenger Metro Train Derails Causing Terrible Delays This Morning: A derailed train is causing a hell\x89Û_ http://t.co/bLCBAbM7A1']

Is Natural Disaster?
[1] Yes
======================